Flask==3.0.0
Flask-Cors==4.0.0
frozenlist==1.4.0
Jinja2==3.1.2
joblib==1.3.2
MarkupSafe==2.1.3
multidict==6.0.4
nltk==3.8.1
numpy==1.26.2
openai==0.28.0
regex==2023.10.3
requests  # Example version, replace with your current version
tqdm==4.66.1
Werkzeug==3.0.1
yarl==1.9.3
matplotlib  # Example version, replace with your current version
networkx # Example version, replace with your current version
